
@{
    ViewBag.Title = "AboutUsView";
}



<div class="row">
    <div class="col-lg-5 col-md-offset-2">

        <h3> About Us</h3>
        <p style="text-align:justify;  font-size: 1.3em">
            Dukkan is Asia’s fastest growing online marketplace, offering an unparalleled shopping experience in Pakistan, Bangladesh, Myanmar, Sri Lanka and Nepal. Dukkan hosts a wide assortment of consumer electronics, fashion and beauty products, alongside a rapidly growing miscellany of general merchandise. Dukkan prioritizes the personalization and security of the shoppers’ experience above all else. Excellent value-for-money, large assortment of original products, fast delivery and easy returns are Dukkan signatures. Dukkan offers not just a retail solution of optimal convenience,
            it is effecting disruptive change in the digitization of the region.
        </p>
    </div>

    <div class="col-lg-4">
        <img src="~/Images/AboutUs.png" />
    </div>

</div>


