
@{
    ViewBag.Title = "ContactUsView";
}

<style>
    .panel-body {
        padding: 15px 35px 15px 0px;
        margin: 0 20px;
    }
    .question p {
        font-size: 14px;
        line-height: 20px;
        font-family: 'Roboto', sans-serif;
        color: #333;
    }
    .ti-body {
        font-size: 14px;
        padding: 0 20px 0 30px;
        color: #555;
        font-weight: 200;
        line-height: 20px;
    }
    .indent_mail, .indent_phone {
        float: left;
        padding: 4px 0 0 0;
    }
    img {
        vertical-align: middle;
        border: 0;
        max-width: 100%;
    }
    h1, h2, h3, a {
        font-family: 'Roboto', sans-serif;
        color: #F68B1E;
    }
    a {
        color: #F68B1E;
        text-decoration: none;
    }
</style>

<h3>
    Contact Us
</h3>

<div class="panel-body">
    <div class="fbck " style="display: block;">
        <div class="question">
            <p>Didn't find what you were looking for?</p>

            <p>Our customer service agents are there to help you daily between 9am to 11pm. Please have your order number handy for faster service </p>
            <p>
                <img src="https://static.daraz.pk/cms/2017/W32/contact-us/phone.png" class="indent_phone" alt="">
                (+92) 347 2092518
            </p>
            <p>
                <img src="https://static.daraz.pk/cms/2017/W32/contact-us/whatsapp.png" class="indent_phone" alt="">
                (+92) 347 2092518
            </p>

            <p>  <img src="https://static.daraz.pk/cms/2017/W32/contact-us/address.png" class="indent_mail" alt=""></p><p class="ti-body">Karachi University, University of karachi</p>
            <p></p>

            <p>
                <img src="https://static.daraz.pk/cms/2017/W32/contact-us/time.png" class="indent_phone" alt="">
                Operating Hours: Everyday from 9am to 11pm.
            </p>
            <p> <img src="https://static.daraz.pk/cms/2017/W32/contact-us/mail.png" class="indent_mail" alt=""></p><p class="ti-body">
                <a href="mailto:customer@dukKan.pk" target="_top">   
                    customer@dukan.pk
                </a>
            </p>


            <p>   <img src="https://static.daraz.pk/cms/2017/W32/contact-us/facebook.png" class="indent_phone" alt=""></p><p class="ti-body"><a href="https://www.facebook.com" target="_blank">Facebook Page</a></p>
            <p></p>

            <p>  <img src="https://static.daraz.pk/cms/2017/W32/contact-us/twitter.png" class="indent_phone" alt=""></p><p class="ti-body"><a href="https://www.twitter.com" target="_blank">Twitter</a></p>
            <p></p>

        </div>
    </div>
</div>

